
<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
<div class="container">
    <br/><br/><br/>
    <div class="col-md-4">
        <a class="btn btn-block btn-md btn-success" data-toggle="modal" onclick="location.href='@Url.Action("Station1", "Dashboard")'" />
            <i class="fa fa-users" id="icone_grande"></i> <br><br>
            <span class="texto_grande"><i class="fa fa-plus-circle"></i> Station 1</span>
        </a>
    </div>
    <div class="col-md-4">
        <a class="btn btn-block btn-md btn-primary" data-toggle="modal" data-target="#mymodal">
            <i class="fa fa-cog fa-spin" id="icone_grande"></i> <br><br>
            <span class="texto_grande"><i class="fa fa-edit"></i> Reports</span>
        </a>
    </div>
    <div class="col-md-4">
        <a class="btn btn-block btn-md btn-warning" data-toggle="modal" onclick="location.href='@Url.Action("AddUser", "Dashboard")'">
            <i class="fa fa-pied-piper-alt" id="icone_grande"></i> <br><br>
            <span class="texto_grande"><i class="fa fa-list-ul"></i> Add User</span>
        </a>
    </div>
</div>
